background-home {
    position: fixed;
    z-index: -10;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    canvas {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

    .c4 {
        background-image: linear-gradient(rgba(0,0,0,.8),rgba(255,241,127,.3),rgba(121,106,255,0.15), rgba(0,0,0,0.8)), url('../assets/Jungle-Bg.jpg');
        background-size: cover;
        background-position: center;
    }
}
