page-friend-request-popover {

    .list-container {
        padding-top: 10px;
        padding-bottom: 10px;

        .sorry{
            padding: 5px 15px 5px 15px;
        }

        .list-item{
            padding: 5px 15px 5px 15px;
            display: flex;
            justify-content: space-between;

            h4{
                margin: 0;
            }

            .button-container {
                display: flex;
                width: 40px;
                justify-content: space-between;

                .button-item {
                    ion-icon{
                        font-size: 2em !important;
                        cursor: pointer;
                    }
                    .accept {
                        color: lawngreen;
                    }
                    .decline {
                        color: red;
                    }
                }
            }
        }
    }

}
