menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    .side-part{
        width: 25%;
        text-align: center;
    }

    .central-part {
        width: 50%;
        text-align: center;
    }

    .round{
        height: 4rem !important;
        width: 4rem !important;
    }

    button {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600 !important;
        text-transform: uppercase;
        border-radius: 50px !important;
        box-shadow: -2px 2px 10px rgba(0,0,0,0.2) !important;
        margin-top: 12px !important;

        .img{
            .icon-menu{
                width: 20px !important;
            }
        }
    }

    h1{
        color: white;
    }
}
