page-login {
    .bg {
        background-image: url('../assets/bg-pokemon-battle.jpg');
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -1;
        top: 0px;
        left: 0px;
    }

    .container-login {
        width: 200px;
        background-color: color($colors, dark);
        border-radius: 5px;
        margin: 0 auto;
        height: 150px;
        margin-top: calc((100vh - 150px) / 2);
        text-align: center;
        padding-top: 1px;
        margin-bottom: 30px;
    }

    input {
        text-align: center;
        color: rgba(255,255,255,0.9);
    }

    button {
        background-image:linear-gradient(45deg, color($colors, primary), color($colors, secondary));
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: white !important;
        border-radius: 50px !important;
        width: 100px;
        box-shadow: -2px 2px 10px rgba(0,0,0,0.2) !important;
        margin-top: 12px !important;
    }

    h1 {
        text-transform: uppercase;
        color: white;
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }

    .logo {
        width: 190px;
        margin: 0 auto;
        margin-top: 30px;
        position: absolute;
        top: 0px;
        left: calc((100vw - 190px) /2 );
    }

    .create-count {
        color: color($colors, lightSilver);
        text-align: center;
        margin: 2px 0px 0px 0px;
    }

    .link-create-account {
        color: color($colors, lightestSilver);
    }
}
