friend-list {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
    min-width: 300px;
    margin: 0 auto;

    .sorry{
        padding: 5px 15px 5px 15px;
    }

    .list-item{
        padding: 10px 15px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        border-radius: 3px;
        margin-bottom: 5px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3);

        .player {
            h4{
                margin: 0;
                font-size: 1.1em !important;
                color: rgba(255,255,255,0.85);
            }

            .player-status {
                span {
                    margin-right: 3px;
                }

                .online {
                    border-radius: 50px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: lawngreen;
                }
                
                .offline {
                    border-radius: 50px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: red;
                }
                
                .in-fight {
                    border-radius: 50px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: orange;
                }

                h5 {
                    margin: 0;
                    display: inline-block !important;
                    font-size: 1em !important;
                    color: rgba(255,255,255,0.7); 
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .button-item {
                padding: 4px 8px;
                border: solid 1px color($colors, primary);
                color: color($colors, primary);
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    .container-social-cta {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}
