<div class="container-social-cta">
  <add-friend></add-friend>
  <friend-requests></friend-requests>
</div>

<p *ngIf="this.userService.me.friendList.length == 0" class="sorry">You don't have friends, sorry...</p>

<div class="list-item" *ngFor="let friend of this.userService.me.friendList">
  <div class="player">
    <friend [friend]="friend"></friend>  
  </div>
  <div class="button-container" *ngIf="friend.status == 'Online'">
    <div class="button-item" (click)="challengePlayer(friend.id)">
      Défier
    </div>
  </div>
</div>